%header.jumbotron.hero-spacer.text-center
  .row
    .col-lg-12
      - if current_user
        %h1 Welcome #{current_user.name}!
        = link_to "Sign out", signout_path, id: "sign_out"
      - else
        %h1 Welcome to edSwap!
        .row
          .col-md-5.col-sm-12
            %h2 Sign in
            %div
              %a.btn.btn-primary.btn-large.btn-text{id: "sign_in_with_facebook", href: "/auth/facebook"} Sign in with Facebook
            %div
              %a.btn.btn-danger.btn-large.btn-text{id: "sign_in_with_google", href: "/auth/google_oauth2"} Sign in with Google
            = form_for @user, url: url_for(controller: 'sessions', action: "create") do |f|
              = f.text_field :preferred_email, placeholder: "email"
              = f.password_field :password, placeholder: "at least 8 characters"
              = f.submit value: "sign in"

          .col-md-2.col-sm-12
            %h3 - or -
          .col-md-5.col-sm-12
            %h2 Create an Account
            = form_for @user, url: url_for(controller: 'sessions', action: "create") do |f|
              = f.text_field :preferred_email, placeholder: "email"
              = f.password_field :password, placeholder: "at least 8 characters"
              = f.submit value: "register"
        .row
          .col-lg-12
            .disclaimer
              %h6 EdSwap does not share any of your personal data. We use facebook or google login to make it easier and more convenient for you to create an account with us.
              %h6 We use this email address internally as your identity but will never send any spam or give any information to a third party whatsoever.
