%header.jumbotron.hero-spacer.text-center
.row
  .col-lg-12
    %h1
      = "Profile for #{@user.name}"
    - if @user.teacher
      %h2
        Teacher
    - if @user.id == session[:user_id]
      %h2
        = "Preferred Email: #{@user.email}"
    %h2
      = "Member since #{time_ago_in_words(@user.created_at)} ago"
    %h3
      = "Active #{time_ago_in_words(@user.updated_at)} ago"
