!!! 5
%html
%head
    %title edSwap
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
    %nav.navbar.navbar-default
        .container
            .navbar-brand= link_to "edSwap", root_path

            %ul.nav.navbar-nav.navbar-right
                %li= link_to "Browse"
                %li= link_to "My Account"
                %li= link_to "Feedback"
                %li= link_to "+ New Listing"
                
                %li= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
                %li= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_w_google"

    .container
        - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert alert-info"
        = yield

        - if current_user
            Signed in as #{current_user.name}
            = link_to "Sign out", signout_path, id: "sign_out"
        - else
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>

            %div{id: "status"}
            = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
            = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_w_google"






